/* util style which apply whole the application */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  padding: 40px;
}
a {
  text-decoration: inherit;
  color: white;
}

/* Landing Page UI  */
.landing__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

/* Login Page UI  */

.login__page {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
/* Signup Page UI  */
.signup__page {
  padding: 10px 120px 0px 120px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Profile Page UI  */

.profile__page {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: whitesmoke;
  height: 100vh;
}

.container h3 {
  color: gray;
  padding-bottom: 20px;
}

.profile__details {
  margin-left: 20px;
}

.profile__details h3 p {
  color: black;
}

.profile__info {
  display: flex;
}

/* media Query for responsiveness   */

@media (max-width: 520px) {
  .signup__page {
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
